* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 85px;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input_container {
    font-size: 20px;
}


.label input {
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 7px;
}

.input_container label {
    margin-bottom: 50px;
    font-size: 32px;
}

.label {
    margin-bottom: 42px;
}

.input_container button {
    font-size: 28px;
    padding: 12px 26px;
    border-radius: 7px;
    cursor: pointer;
}
.label textarea{
    font-size: 32px;
    padding: 12px;
    border-radius: 10px;
    text-align: left;
}